@import "index";

.shrink-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.transparent-black {
  background-color: rgba($dark-grey, 0.5);
}

div#main-content {
  overflow-x: scroll;
  // width: fit-content;
}

div.list-sizing {
  max-width: $list-width;
  width: $list-width;
  overflow-x: hidden;
  box-sizing: border-box;
  margin-left: $main-padding;
  border-radius: $border-radius;
}

div.list-style{
  background-color: $default-grey;
  box-shadow: 5px 5px 8px 0px rgba($dark-grey, 0.5);

  div.list-top {
    margin-bottom: $main-padding;
    min-height: $list-cap-height;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    textarea {
      width: inherit;
      cursor: pointer;
    }
  }

  textarea.list-title {
    margin-top: $main-padding;
    margin-left: $main-padding;
    background-color: transparent;
  }

  textarea.list-title:focus {
    background-color: white;
  }

  div.list-bottom {
    min-height: $list-cap-height;
    padding: $main-padding $main-padding 0;
  }
}

div.list-bottom {
  i {
    margin-right: $main-padding;
  }

  i:hover {
    cursor: pointer;
  }
}

div#options {
  float: right;
  margin: 0px;
  padding: 0px;
  display: block;
  transform: scale(.12);
}

i.fa-ellipsis-h {
  margin: auto;
  margin-right: $main-padding/.75;
  margin-top: $main-padding/2;
  display: block;
}

i.fa-ellipsis-h:hover {
  cursor: pointer;
}

div.add-card-div:hover {
  background-color: rgba($dark-grey, 0.7);
  color: white;
  cursor: pointer;
}

div.inner-list {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  padding: $main-padding/2 $main-padding;
  // padding-bottom: $main-padding/2;
}

div.card {
  margin: $main-padding/2 0;
  display: grid;
  grid-template:
    "title edit" auto/ auto $main-padding*3;
  box-sizing: border-box;
  width: auto;
  max-height: 120px;
  // margin-bottom: $main-padding/2;
  // padding: $main-padding/4 $main-padding;
  border-radius: $border-radius;
  background-color: white;


}
div.card:hover {
  cursor: pointer;
  background-color: rgba($dark-grey, 0.3);
}



div.card-settings {
  margin: auto;
  grid-area: edit;
}

  div.card-title {
    grid-area: title;

    p.card-title-contents  {
      margin-left: $main-padding;
    }
  }
