@import "index";

div#add-list {
  display: flex;
  flex-direction: row;
}

div.new-list {
  color: white;
  font-size: 1em;
  font-weight: 600;

}

div.new-list:focus {
  background-color: blue;
}

span#new-list-span {
  display: flex;
  flex-direction: row;
  padding: 0 $main-padding 0;

  p, i {
    opacity: 1;
  }

  p {
    margin-left: $main-padding;
    font-size: 1em;
  }

  i {
    margin: auto;
  }
}

form#new-list-form {
  margin: $main-padding/2;
  padding: $main-padding 0;

  i {
    margin: auto 0;
    margin-left: $main-padding;
  }
}

div.new-list-buttons {
  margin-top: $main-padding/2;
  display: flex;
  flex-direction: row;
}

button.add-list-button {
  border-radius: $border-radius;
  color: white;
  background-color: $lt-blue;
}

form.new-card {
  margin-bottom: $main-padding;
  display: flex;
  flex-direction: column;
  flex: auto;

  textarea {
    margin-top: $main-padding/2;
  }

  button {
    margin-top: $main-padding/2;
    width: fit-content;
    border-radius: $border-radius;
    color: white;
    background-color: $lt-blue;
  }
}
