/* Breakpoints & Measurements*/
$breakpoint-tablet-landscape: 900px; 
$border-radius: 4px;
$list-spacer: 3vw;
$main-padding: 10px;
$list-cap-height: 30px;
$list-width: 270px;
$inner-width: inherit - 2*$main-padding;

/* Other Variables */
$test-border: 3px solid;
$default-grey: #dbe0e0;
$dark-grey: #1d1d1d;
$default-bg: #429c6b;
$dark-green: #217547;
$lt-blue: #2d55aa;

div, body, :root {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
  resize: none;
  border: none;
  border-style: none;
  font-size: 1em;
  max-width: $inner-width;
}

textarea:focus {
  border-style: none;
}

button {
  font-size: 1em;
  font-weight: 600;
  padding: $main-padding;
  border-radius: $border-radius;
  border-style: none;
}

button:hover {
  cursor: pointer;
}

i:hover {
  cursor: pointer;
}
